.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 99px;
  .imagesWrapper {
    margin: 0;
    margin-top: calc(76px - 32px);
    padding-bottom: 30px;
  }
  .buttonWrapper {
    margin-top: 24px;
  }
}
