.main {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0 99px;
  .imagesWrapper {
    margin: 0;
    margin-top: 76px;
    padding: 30px;
  }
  .buttonWrapper {
    margin-top: 24px;
  }
}
